<!DOCTYPE html>
<html lang="en"><head>
	<title> CONDITION </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="./stylesheets/vendor/bootstrap.js"></script>
 	
	<link rel="stylesheet" href="./stylesheets/vendor/bootstrap.css">
	<link rel="stylesheet" href="./stylesheets/vendor/font-awesome.css">
 	<link rel="stylesheet" href="./stylesheets/campaign-info/info.css">
</head>
<body >
	<div class="top">
		<div class="languages">
			<select id="select_lang" onchange="selectLanguage(this)">
			    <option class="lang" value="vi">Tiếng Việt</option>
			    <option class="lang" value="en">English</option>
			    <option class="lang" value="chn">中文</option>
			</select>
		</div>
	</div>
	<div class="content active" id="vi">
		<div class="container">
			<div class="row">
				<div class="title-vn">
					<h1>TENTECH <br>Aidrop Campaign</h1>
					<p>(1 TEN = 0.05$)</p>
					<p>TEN( Transparent Enlightened Network) – Một nền tảng giáo dục trực tuyến phi tập trung toàn cầu. </p>
					<p>TEN sẽ IEO trên sàn giao dịch Labs vào ngày 28 tháng 4 năm 2019. </p>
				</div>
			</div>
		</div>
		<div class="condition">
			<div class="container">
				<div class="row">
					<div class="title-con">Điều kiện tham gia</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">B1: Tham gia nhóm Telegram TENTECH <br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">B2: Nhập và xác nhận Mail <br></div>
						</div>
						
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">B3: Đăng ký tài khoản APP TENTECH <br></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="task">
			<div class="container">
				<div class="row">
					<div class="title-con">Chiến Dịch Và Phần Thưởng</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">1. Hoàn thành 3 bước điều kiện: 200 TEN <br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">2. Chiến dịch LIKE: 30 TEN/ like,follow<br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">3. Chiến dịch LIÊN KẾT: 50 TEN/ Người<br></div>
							<div class="detail-small">Người được giới thiệu thực hiện tối thiểu 2 điều kiện để tham gia chiến dịch</div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">4. Chiến dịch HỎI ĐÁP: 20 TEN/ 1 Đáp án Đúng<br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">5. Chiến dịch YOUTUBE: 1000 TEN/ 1 video<br></div>
							<div class="detail-small">(video review về BOT TEN hoặc về dự án TEN- tối thiểu 2 phút và có 100 lượt xem)<br>Tiêu đề của Video có chứa văn bản: "TEN Airdrop Campaign" và -	Mô tả của Video có chứa Link: Link Ref Bot)</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="condition">
			<div class="container">
				<div class="row">
					<div class="title-con">Chú ý</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Hệ thống Auto Check của TEN sẽ check kết quả tự động trong quá trình làm nhiệm vụ</div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Các chiến dịch và phần thưởng-> Menu Nhiệm vụ</div>
						</div>
						
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Kiểm tra tài khoản-> Menu Tài khoản của bạn</div>
						</div>
						
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Tìm hiểu về dự án TEN-> Menu Về chúng tôi</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="task">
			<div class="container">
				<div class="row">
					<div class="title-con">Thông tin</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Website: <a href="https://tentech.io">Tentech.io</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Nhóm chat Telegram: <a href="https://t.me/tentech_global">Telegram Group</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Nhóm tin tức Telegram: <a href="https://t.me/tentech">Telegram Channel</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Trang tin tức FaceBook: <a href="https://www.facebook.com/tentech.io">FB Fanpage</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Trang tin tức Twitter: <a href="https://twitter.com/tentechio">Twitter Channel</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="en">
		<div class="container">
			<div class="row">
				<div class="title-vn">
					<h1>TENTECH <br>Aidrop Campaign</h1>
					<p>(1 TEN = 0.05$)</p>
					<p>TEN( Transparent Enlightened Network) - A decentralized global online education platform.</p>
					<p>1 TEN = 0.05$ and TEN will IEO on the Labs Exchange on April 28, 2019</p>
				</div>
			</div>
		</div>
		<div class="condition">
			<div class="container">
				<div class="row">
					<div class="title-con">CONDITION</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Step 1: Join TENTECH Telegram Group  <br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Step 2: Veryfy Your Mail <br></div>
						</div>
						
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Step 3: Sign Up APP TENTECH Account <br></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="task">
			<div class="container">
				<div class="row">
					<div class="title-con">Task And Rewards</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">1. Complete 3 steps in CONDITION: 200 TEN <br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">2. LIKE Campaign: 30 TEN/ like and follow<br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">3. Affiliate Campaign: 50 TEN/ per<br></div>
							<div class="detail-small">(the recommended person made at least 2 conditions to participate in the campaign)</div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">4. FAQ Campaign: 20 TEN/ 1 Right Anwser<br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">5. YOUTUBE Cam paign: 1000 TEN/ 1 video<br></div>
							<div class="detail-small">(video review about TENTECH-bot or TENTECH Project - At least 2 minutes and 100 views)</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="condition">
			<div class="container">
				<div class="row">
					<div class="title-con">Note</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">TEN's automated inspection system will check the results automatically during the task</div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Campaigns and rewards -> Menu Mission</div>
						</div>
						
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Check Account-> Menu My Account</div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Learn about ten projects-> Menu About us</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="task">
			<div class="container">
				<div class="row">
					<div class="title-con">Information</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Website: <a href="https://tentech.io">Tentech.io</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Our Telegram Group: <a href="https://t.me/tentech_global">Telegram Group</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Our Telegram Channel: <a href="https://t.me/tentech">Telegram Channel</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Our FaceBook Fanpage: <a href="https://www.facebook.com/tentech.io">FB Fanpage</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">Our Twitter Channel: <a href="https://twitter.com/tentechio ">Twitter Channel</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" id="chn">
		<div class="container">
			<div class="row">
				<div class="title-vn">
					<h1>TENTECH <br>Aidrop Campaign</h1>
					<p>(1 TEN = 0.05$)</p>
					<p>TEN将于2019年4月28日在Labs实验进行IEO交流</p>

				</div>
			</div>
		</div>
		<div class="condition">
			<div class="container">
				<div class="row">
					<div class="title-con">条件</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">第1步: 加入 TENTECH Telegram 组  <br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">第2步: 确认邮件 <br></div>
						</div>
						
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">第3步: 注册TENTECH应用的账户 <br></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="task">
			<div class="container">
				<div class="row">
					<div class="title-con">任务和奖励</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">1. 完成条件的3个步骤: 200 TEN <br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">2. LIKE 运动: 30 TEN/ like和follow <br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">3. AFFILIATE 运动: 50 TEN/ 人<br></div>
							<div class="detail-small">推荐人至少有2个条件参加活动</div>>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">4. FAQ 运动: 20 TEN/ 1 正确答案<br></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">5. YOUTUBE 运动: 1000 TEN/ 1 video<br></div>
							<div class="detail-small">(video介绍TENTECH-Bot或者TENTECH项目 - 至少2分钟和100视图)</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="condition">
			<div class="container">
				<div class="row">
					<div class="title-con">笔记</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">TEN的自动检查系统将在任务期间自动检查结果</div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">活动和奖励 => Menu Mission</div>
						</div>
						
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">检查帐户 => Menu My Account</div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">了解TEN项目 => Menu About us</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="task">
			<div class="container">
				<div class="row">
					<div class="title-con">信息</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">网站: <a href="https://tentech.io">Tentech.io</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">我们的Telegram组: <a href="https://t.me/tentech_global">Telegram Group</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">我们的Telegram渠道: <a href="https://t.me/tentech">Telegram Channel</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">我们的FaceBook Fanpage: <a href="https://www.facebook.com/tentech.io">FB Fanpage</a></div>
						</div>
					</div>
					<div class="detail">
						<div class="container">
							<div class="detail-con">我们的Twitter渠道: <a href="https://twitter.com/tentechio ">Twitter Channel</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script language="javascript">
	var vi = document.getElementById('vi');
 	var en = document.getElementById('en');
 	var chn = document.getElementById('chn');
 	function selectLanguage(obj)
 	{
 		var value = obj.value;
 		if (value === 'vi') {			
 			en.classList.remove('active');
 			chn.classList.remove('active');
 			vi.classList.add('active');
 		}
 		if (value === 'en') {
 			vi.classList.remove('active');
 			chn.classList.remove('active');
 			en.classList.add('active');	
 		}
 		if (value === 'chn') {
 			vi.classList.remove('active');
 			en.classList.remove('active');
 			chn.classList.add('active');
 		}
 	}
</script>
</html>