<!DOCTYPE html>
<html lang="en"><head>
	<title> OUR TWITTER </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="./stylesheets/vendor/bootstrap.js"></script>
	<script type="text/javascript" src="./javascripts/check-like.js"></script>
 	
	<link rel="stylesheet" href="./stylesheets/vendor/bootstrap.css">
	<link rel="stylesheet" href="./stylesheets/vendor/font-awesome.css">
 	<link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body >
	<div class="top"></div>
	<div class="twitter">
		<a href="https://twitter.com/tentechio?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @tentechio</a>
	</div>
	<%# phần xư lý nút xác nhân %>
    <div class="confirm">
        <div class="container">
            <form action="/tw" method="get">
                <input id="send-twitter" type="submit" value="CONFIRM" name="<%=id %>">
            </form>
            <div class="note">Bấm "Follow" và <br> "Xác nhận" để nhận được Token TEN</div>
        </div>
    </div>
    <%# --------------------- %>
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</body >
</html>