<!DOCTYPE html>
<html lang="en"><head>
	<title> EMAIL </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<script type="text/javascript" src="./stylesheets/vendor/bootstrap.js"></script>
	<script type="text/javascript" src="./javascripts/check-like.js"></script>
 	
	<link rel="stylesheet" href="./stylesheets/vendor/bootstrap.css">
	<link rel="stylesheet" href="./stylesheets/vendor/font-awesome.css">
 	<link rel="stylesheet" href="./stylesheets/style.css">
    <style>
        .top-mail {
            width: 100%;
            height: 100%;
            text-align: center;
        }
        img.logo-ten {
            margin: auto;
            justify-content: center;
            background: black;
            margin-top: 10%;
            padding: 20px;
        }
        .top-mail-info {
            padding: 58px;
            line-height: 30px;
            color: white;
            background: #9C27B0;
            margin: 10px;
            font-size: 20px;
            border-radius: 20px;
        }

    </style>
</head>
<body>
    <div class="top-mail">
        <div class="container">
            <img class="logo-ten" src="./stylesheets/images/logo.png" alt="">
            <div class="top-mail-info">Congratulations on your completion</div>
            <h5>SUPPORT by TENTECH Team.</h5>
        </div>
        
    </div>
</body>
</html>