*{margin: 0;padding: 0;}

.detail-small {
    color: #b1a8a8;
}

.task {
    background: black;
}

a {
    color: #dc3500;
}

button.link-group {
    background: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border: solid 2px white;
    transition: 0.4s;
}

button.link-group:hover {
    background: #FF5722;
    border: solid 2px #FF5722;
}

button.link-group:hover a {
    color: white;
    text-decoration: none;
}

button.link-group:hover {
    background: #FF5722;
}


.detail-con {
    text-align: left;
    width: 100%;
    padding: 5px;
    font-weight: 500;
    color: #caff00;
}

.detail {
    width: 100%;
    margin: 5px;
}

.title-con {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    color: #ffffff;
}

.condition {
    width: 100%;
    background: url(bg-main.jpg);
    background-size: cover;
}

p {
    font-weight: bold;
}

h1 {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.title-vn {
    width: 100%;
    text-align: center;
}

html,body {
    width: 100%;
}

.content {
    position: absolute;
    top: 15%;
    text-align: center;
    width: 100%;
    display: none;
}

.content.active {
    display: block;
}

.languages {
    right: 0;
    margin-top: 10px;
    z-index: 2;
    position: absolute;
}

.top {
    position: fixed;
    width: 100%;
    background: url(bg-image.jpg);
    background-size: cover;
    height: 10%;
    z-index: 3;
}